

@import "variables";
@import "reset";
@import "typography";
@import "header";
@import "footer";
// @import "../../node_modules/bxslider/dist/jquery.bxslider";


body {
    font-family: $font_stack;
    color: $brand_color;
    background-color: $background_color;
    font-size: 50%;
}

img{
  width: 100%;
  height: auto;
}

.advert {

    margin: 0 0 20px 0;
    box-shadow: 0 0 30px transparentize(black,0.7);

    img {
        width: 100%;
        height: auto;
        margin: 0;

    }

    .advert_text {
        width: 100%;
        background: $font_color;
        color: white;
        padding:20px;
        text-align: center;

        p {
            padding: 0;
        }
    }
}
// END OF ADVERT





.featured_article {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 25%;
    position: relative;
    box-shadow: 0 0 50px transparentize(black,0.6);

    .background_image {
        width: 100%;
        height: auto;

    }

    .article_text {
        position: absolute;
        top: 0;
        bottom: 0;
        height: 100%;
        padding: 20px;
        background: transparentize(black, 0.3);
        border-left: 1px solid transparentize(white,0.2);
        color: white;
        right: 0;
        width: 30%;
        overflow: hidden;
        z-index: 3;

        h3 {
            font-size: 2.5em;
            padding: 0 0 10px;

            a {
                color: inherit;
            }
        }

        p {
            font-size: 1.4em;

            &.category {
                margin:  0 0  20px;
                background:  white;
                color:$font_color;

            }
        }
    }


}
// END OF featured_article

.article_img {
    width: 100%;
    height: auto;
    margin:0px 0 30px;

}

.article_image {
    height: 400px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: $light_grey;
    width: 100%;
    display: inline-block;
}

p.category {
    padding: 5px;
    background: $font_color;
    color: white;
    display: inline-block;
    margin:-20px 0 30px;
    border-radius: 5px;

    a {
        color: inherit;
    }


}


.other_articles {
    margin:40px 0 0;
    article {

        .article_image {
            height:auto;
            padding: 25%;
            margin: 0 0 20px;
            box-shadow: 0 0 30px transparentize(black,0.6);

        }


        h3 {
            font-size: 2.3em;
            padding: 0 0 10px;

        }
        p {
            font-size: 1.4em;

            &.category {
                    margin: 0 0 10px;
                a {
                    color: inherit;
                }

            }
        }


    }


    .more_articles {
        margin:50px 0 0;
        text-align: center;
    }



}
// END OF OTHER ARTICLES







.events {
    margin:0 0 50px;
    .event {
        font-size: 1em;
        margin:0 0 50px;
        padding: 0;

        p {
            font-size: 1.4em;
        }


        .event_image {
            height: 200px;
            margin: 0 0 20px;
            display: inline-block;
            width: 100%;

            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            transition:all 0.3s;
            box-shadow: 0 0 30px transparentize(black,0.6);

            &:hover {

            }

        }

    }


}


// END OF EVENTS
