

@import "variables";
@import "reset";
@import "typography";
@import "header";
@import "footer";
// @import "../../node_modules/bxslider/dist/jquery.bxslider";


body {
    font-family: $font_stack;
    color: $brand_color;
    background-color: $background_color;
    font-size: 62.5%;
}



.advert {

    margin: 0 0 20px 0;
    box-shadow: 0 0 30px transparentize(black,0.7);

    img {
        width: 100%;
        height: auto;
        margin: 0;

    }

    .advert_text {
        width: 100%;
        background: $font_color;
        color: white;
        padding:20px;
        text-align: center;

        p {
            padding: 0;
        }
    }
}
// END OF ADVERT





.featured_article {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 500px;
    position: relative;
    box-shadow: 0 0 50px transparentize(black,0.6);

    .article_text {
        position: absolute;
        top: 0;
        bottom: 0;
        height: 100%;
        padding: 20px;
        background: transparentize(black, 0.3);
        color: white;
        right: 0;
        width: 30%;
        overflow: hidden;

        h3 {
            font-size: 2.5em;

            a {
                color: inherit;
            }
        }

        p {
            font-size: 1.4em;
        }
    }


}
// END OF featured_article

.article_img {
    width: 100%;
    height: auto;
    margin:0px 0 30px;
}

.article_image {
    height: 400px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: $light_grey;


    width: 100%;
    display: inline-block;
}


.other_articles {
    margin:40px 0 0;
    article {

        .article_image {
            height: 200px;
                margin: 0 0 20px;
            box-shadow: 0 0 30px transparentize(black,0.6);

        }


        h3 {
            font-size: 2.3em;
            padding: 0 0 10px;

        }
        p {
            font-size: 1.4em;
        }


    }


    .more_articles {
        margin:50px 0 0;
        text-align: center;
    }



}
// END OF OTHER ARTICLES







.events {
    margin:0 0 50px;
    .event {
            font-size: 1em;
            margin:0 0 50px;
            padding: 0;

            p {
                font-size: 1.4em;
            }


        .event_image {
            height: 200px;
            margin: 0 0 20px;
            display: inline-block;
            width: 100%;

            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            transition:all 0.3s;
            box-shadow: 0 0 30px transparentize(black,0.6);

            &:hover {

            }

        }

    }


}


// END OF EVENTS
