

@import "variables";
@import "reset";
@import "typography";
@import "single";
@import "header";
@import "supermenu";
@import "footer";
@import "slider";
@import "boutiques";
@import "magnify";
// @import "../../node_modules/bxslider/dist/jquery.bxslider";


body, body.archive {
    font-family: $font_stack;
    color: $brand_color;
    background-color: $background_color;
    font-size: 50%;
    float: none;
    margin: 0;
    overflow-x: hidden;
    width: 100%;
}

// div {max-width: 100%;}

img{
    width: 100%;
    height: auto;
}

.advert {

    margin: 0 0 20px 0;
    // box-shadow: 0 0 30px transparentize(black,0.7);

    img {
        width: 100%;
        height: auto;
        margin: 0;

    }

    .advert_text {
        width: 100%;
        background: $font_color;
        color: white;
        padding:20px;
        text-align: center;

        h2 {
          font-size: 2em;
        }

        p {
            padding: 0;
        }

        a {
            color: inherit;
        }
        h3 {
            padding: 0;
        }
    }
}
// END OF ADVERT



.featured_article {
    position: relative;

    .article_text {
        h3 {
            font-size: 2.3em;
            padding: 0 0 5px;


        }
    }
    .read_more {
        display: none;
    }

    .article_image {
        margin: 0 0 20px;
    }

}

@media (min-width: 768px) {

    .featured_article {

        .article_image {
            margin: 0;
        }
        .article_text {
            position: absolute;
            top: 0;
            bottom: 1px;
            padding: 20px;
            background: transparentize(black, 0.3);
            border-left: 1px solid transparentize(white,0.2);
            color: white;
            right: 0;
            width: 30%;
            overflow: hidden;
            z-index: 3;

            a {
                border: 0;
            }

            h3 {
                a {
                    color: white;
                }
            }

            p {
                font-size: 1.4em;

            }

            .read_more {
                display: block;
            }
        }
    }
}

// END OF featured_article




.article_img {
    width: 100%;
    height: auto;
    margin:0px 0 30px;

}

.article_image {
    padding: 25%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: $light_grey;
    width: 100%;
    display: inline-block;
}

p.category {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 1.6em;
    margin: 0;
    padding: 0 3px 10px;
    word-break: break-word;
    text-align: left;

    a {
        color: inherit;
    }


}


.other_articles {
    margin:40px 0 0;
    article {

        .article_image {
            height:auto;
            padding: 25%;
            margin: 0 0 20px;
            // box-shadow: 0 0 30px transparentize(black,0.6);

        }


        h3 {
            font-size: 2em;
            padding: 0 0 5px;

        }
        p {
            font-size: 1.4em;

            &.category {

                a {
                    color: inherit;
                }

            }
        }

        a {
            border: 0;
        }


    }


    .more_articles {
        margin:40px 0 40px;
        text-align: center;
    }



}

.caption, p.wp-caption-text {
    position: absolute;
    color: #000;
    background: rgba(255,255,255,0.3);
    padding: 5px;
    bottom: 0;
    left: 0;
    font-size: 1.4em;
}

p.wp-caption-text {
    position: relative;
    top: -30px;
    display: inline-block;
}
// END OF OTHER ARTICLES




.events {
    margin:0 0 50px;
    .event {
        font-size: 1em;
        margin:0 0 50px;
        padding: 0;

        p {
            font-size: 1.4em;
        }


        .time_location {
            padding: 0;
            margin: -10px 0 10px;
            color: #888;
        }

        .home_tl.time_location {font-size:1.7em;}

        .event_image {
            // height: 200px;
            margin: 0 0 20px;
            display: inline-block;
            // width: 100%;
            border:0;
            // background-repeat: no-repeat;
            // background-position: center center;
            // background-size: cover;
            transition:all 0.3s;
            // box-shadow: 0 0 30px transparentize(black,0.6);

            &:hover {

            }

        }

    }


}


// END OF EVENTS



.pagination {
    margin:0 0 10px;
    .page-numbers {
        display: inline-block;
        border:1px solid $light_grey;
        padding: 8px;
        margin:0 5px 10px 0;
        font-size: 1.5em;

        &.current {
            background-color: $light_grey;
        }

        &:hover {
            background-color: $light_grey;
        }
    }
}




@media(max-width:767px) {
  #rest_of_site {padding-top: 20px;}
  .advert {margin-top: 10px;}
  .advert_text {padding: 10px!important;}
  .advert_text h2 {font-size: 1.2em!important;}
  .featured_article .article_text h3{font-size: 1.8em;}
  p.category {font-size: 1.2em!important;}
  .other_articles {margin-top: 0;}
  .home_tl.time_location {font-size:1.2em!important;}
  .more_articles {margin:10px 0 10px!important;  }
  a.button {font-size: 0.8em; padding: 8px 20px;}
}
