@import "variables.scss";

$nav_height: 130px;




header {

    margin:0 0 10px;

    #top_nav {
        height: $nav_height;
        position: relative;
        padding: 0;
        font-family: $header_font_stack;
        overflow: hidden;
        display: flex;

    }




    a.logo {
        min-width: 190px;
        text-indent: -9999px;
        background: url('../img/logo.svg') no-repeat left center;
        background-size: 190px;
        background-size: contain;
        height: $nav_height;
        display: inline-block;

        &:hover {

        }
    }

    #social_and_search {
        flex:1;
        display: flex;
        height: $nav_height;
        flex-direction: column;
        // justify-content: space-around;
        text-align: right;
        margin-top: 29px;

        //    ul.social_nav  here


        // form {
        //     flex:1;
        //
        //     line-height: #{ $nav_height / 2 };
        //     input {
        //         padding: 5px 24px 5px 5px;
        //         border: 0;
        //         background: url('../images/search.svg') no-repeat  98% center;
        //         background-size: 15px;
        //         text-align: right;
        //
        //     }
        // }



    }






}



nav {
    font-family: $header_font_stack;
    margin: 0 0 50px;
    text-align: center;

    ul {
        display: flex;
        margin:0  -10px;
        justify-content: space-between;
        // flex-direction: row;

        li {
            // flex:1;
            display: block;
            font-size: 1.7em;
            line-height: normal;


            a {
                text-transform: uppercase;

                display: block;
                padding:  10px 10px ;
                letter-spacing: 0.5px;
                border-bottom: 2px solid transparent;

                &:link,     &:visited,     &:active {
                    color: $brand_color;
                }
                &:hover {

                    border-bottom: 2px solid $brand_color;
                }

            }
        }
    }
}

nav#site_nav {
    background: $font_color !important;


    a {
        color: white !important;
    }

    ul {
        display: none;
    }

    &.menu_visible {
        ul {
            display: block;
        }
    }
}


#open_nav {
    display: block;
    font-size: 1.7em;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;

}





ul.social_nav {


    li {
        padding:0;
        margin: 0;
        display: inline-block;


        a {

            padding: 5px 15px;
            display: inline-block;
            margin:0 0 0px;
            text-align: left;
            background: no-repeat center center $brand_color ;
            text-indent: -9999px;
            background-size: 16px;
            border: 2px solid  $brand_color;
            text-transform: uppercase;

            &:hover {
                background-color: lighten($brand_color, 20);
            }

            &.subscription {
                text-indent: 0;
                text-align: center;
                border:2px solid $brand_color;
                background: white;

                &:link {

                }
                &:hover {
                    color: white;
                    background-color: $brand_color;
                }
            }
            &.icon_facebook {
                background-image:  url('../img/facebook-letter-logo.svg');
                &:hover {
                        background-color: #3b5998;
                        border-color:#3b5998;
                }
            }
            &.icon_pinterest {
                background-image:  url('../img/pinterest.svg');
                background-size: 24px;
                &:hover {
                        background-color: #bd081c;
                        border-color:#bd081c;
                }
            }
            &.icon_twitter {
                background-image: url('../img/twitter-logo.svg');
                &:hover {
                        background-color: #1da1f2;
                        border-color:#1da1f2;
                }
            }
            &.icon_instagram {
                background-image: url('../img/instagram.svg');
                &:hover {
                        background-color: #833ab4;
                        border-color:#833ab4;
                }
            }
            &.icon_search {
                background-image: url('../img/search.svg');
            }
        }
        &:first-child a {
            border-radius: 5px 0 0 5px;
        }
        &:last-child a {
            border-radius: 0 5px 5px 0;
        }


    }

}

@media (min-width: 768px) {


    header {
        ul.social_nav {
            text-align: right;
        }
    }

    nav#site_nav {
        ul {
            display: flex;
            text-align: left;

            li {
                display: inline-block;
            }
        }

    }

    #open_nav {
        display: none;
    }

}
