.single{
  .single-category{
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 1.6em;
    margin: 0;
    text-align: center;
  }
  p{

  }

  .infos_boutique {
    background: #eee;
    padding: 30px 20px;
    position: relative;
    z-index: -2;
    min-height: 300px;
    h2 {
      margin: 0 20px 20px;
      span{
      background: #eee;
      }
    }
    p {
      padding-bottom: 0;
      font-size: 1.6em;
    }

    .boutique_tags {
      border-top: solid 1px;
      border-bottom: solid 1px;
      padding: 5px;
      margin-bottom: 20px;
      text-align: center;
    }

    h6 {
      font-weight: bold; font-size: 1.8em; margin-bottom: 5px;
    }
}

}


#map_container {
    height: 300px;
    margin:0 0 30px;

}
